# home is the repo: ignore everything, whitelist what is tracked
/*
!/.gitignore
!/README.md
!/.tmux.conf
!/utils
!/.config
/.config/*
!/.config/alacritty
!/.config/fish
!/.config/nvim
!/.config/tinted-shell
!/.config/herdr
/.config/herdr/*
!/.config/herdr/config.toml
!/.vim
/.vim/*
!/.vim/.gitkeep
**/.DS_Store
# runtime state written by tinted-shell / lua_ls
/.config/tinted-shell/base16_shell_theme
/.config/tinted-shell/theme_name
/.config/nvim/.luarc.json
