# Ignore all files
/*
.config/nvim/.netrwhist

# Unignore nvim folder
!/.config/
/.config/**/
!.config/nvim/

!/boilerplates/

# File to be unignored
!.tmux.conf
!.bashrc
!.screenrc
!.gitignore
!.profile
!/manualconfig
!readme.md
