# Ignore all files
/*
.config/nvim/.netrwhist

# Unignore nvim folder
!/.config/
/.config/**/
!.config/nvim/
/.config/nvim/after/**/
!.config/nvim/after/ftplugin/

!/boilerplates/

# File to be unignored
!.tmux.conf
!.bashrc
!.screenrc
!.gitignore
!.profile
!readme.md
