! GRUVBOX
#define bg #282828
#define fg #EBDBB2
#define bgH #161B1A
#define black #010101
#define redH #CC241D
#define greenH #98971A
#define yellowH #D79921
#define blueH #458588
#define purpleH #B16286
#define aquaH #689D6A
#define grayH #A89984
#define gray #928374
#define red #FB4934
#define green #B8BB26
#define yellow #FABD2F
#define blue #83A598
#define purple #D3869B
#define aqua #8EC07C

! OFF
! #define bg      #282828
! #define fg      #F1F1F1
! #define bgH     #161B1A
! #define redH    #C6C6C6
! #define greenH  #C6C6C6
! #define yellowH #C6C6C6
! #define blueH   #C6C6C6
! #define purpleH #C6C6C6
! #define aquaH   #C6C6C6
! #define grayH   #C6C6C6
! #define gray    #C6C6C6
! #define red     #C30771
! #define green   #C6C6C6
! #define yellow  #C6C6C6
! #define blue    #C6C6C6
! #define purple  #C6C6C6
! #define aqua    #C6C6C6

*.foreground:  fg
*.background:  bgH
*.color0:      black
*.color1:      redH
*.color2:      greenH
*.color3:      yellowH
*.color4:      blueH
*.color5:      purpleH
*.color6:      aquaH
*.color7:      grayH
*.color8:      gray
*.color9:      red
*.color10:     green
*.color11:     yellow
*.color12:     blue
*.color13:     purple
*.color14:     aqua
*.color15:     fg
